NEXT_PUBLIC_TELEX_API_URL=http://localhost:8000
NEXT_PUBLIC_TELEX_DASHBOARD_URL=http://localhost:3000/dashboard/recovery
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TSRbkuczKDusLn

# NOTE: NEVER put Razorpay Secret Key in client-side code.
